.Headerhamburgare { 

       font-size: 50px;
}

.Headerhamburgare p { 

    font-size: 20px;

}

 

.Inventarier {
    font-family: Arial, sans-serif;
    text-align: center;
}

.inventory {
    margin-top: 20px;
    text-align: center;
}


