.startbutton { 
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 20vh;
    cursor: pointer;
}


.BackToStart { 

    display: flex;
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    width: 60vh;
    gap: 5vh;
    
}

.BackToStart, a { 

    text-decoration: none;
}


/* Backgrundsbild på en stuga */
.MagicCabin { 
    display: flex;
   margin: auto;
   max-width: 60vh;
}



.Headerhamburgare { 

       font-size: 50px;
}

.Headerhamburgare p { 

    font-size: 20px;

}

header { 
    text-align: center;

}
 
.titleText { 
    text-align: center;

}



.Inventarier {
   display: flex;
   margin: auto;
   justify-content: center;
   align-items: center;
   background-color: lightslategray;
   width: 60vh;
   height: 50vh;
  
}

.spelKnappar {

    display: flex;
    margin: auto;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    gap: 3vh;
    background-color: blue; 
}

.item1 { 
    
    height: 10vh;
    width: 20vh;
    font-size: 25px;
    background-color: brown;
    cursor: pointer; 


}
.item2 { 

    height: 10vh;
    width: 20vh;
    font-size: 25px;
    background-color: brown;
    cursor: pointer; 


}
.item3 { 

    height: 10vh;
    width: 20vh;
    font-size: 25px;
    background-color: brown;
    cursor: pointer; 


}

.inventory {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;

}


.InsideMagicCabin { 
    display: flex;
    margin: auto;
    max-width: 60vh;


}


.GoBackOut { 
    display: flex;
    margin: auto;
    padding: 10vh;
    height: 10vh; 
    width: 20vh;
  
}

.GoBackOut, button { 

    font-size: 20px;
}
