.startbutton { 

    display: flex;
    margin: auto;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 20vh;
}

.startbutton, a { 

    text-decoration: none;
}

.BackToStart { 

    display: flex;
    height: 5vh;
    align-items: center;
}


/* Backgrundsbild på en stuga */
.MagicCabin { 
    display: flex;
   margin: auto;

}



.Headerhamburgare { 

       font-size: 50px;
}

.Headerhamburgare p { 

    font-size: 20px;

}

header { 
    text-align: center;

}
 
.titleText { 
    text-align: center;

}



.Inventarier {
   display: flex;
   margin: auto;
   justify-content: center;
   align-items: center;
   background-color: lightslategray;
   width: 60vh;
   height: 50vh;
  
}

.spelKnappar {

    display: flex;
    margin: auto;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    gap: 3vh;


}

.item1 { 
    
    height: 10vh;
    width: 20vh;
    font-size: 25px;


}
.item2 { 

    height: 10vh;
    width: 20vh;
    font-size: 25px;


}
.item3 { 

    height: 10vh;
    width: 20vh;
    font-size: 25px;


}

.inventory {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;

}


